header{


}

body{

  background-color: #303031;

}
h1{
    font-family: 'Bungee Shade', cursive;
    color: #96EFE2;
    font-size: 90px;
    line-height: 200%;
    border-bottom-style: dotted;
}
h3{
    font-family: 'Luckiest Guy', cursive;
    color: #FAFF33;
    text-align: center;
}
img{
    width:45%;
    margin: 10px;
}
.img-1{
border: solid 9px #FF31A6;
}
.img-2{
    border: solid 9px #33FF7C;
}
.img-3{
    border: solid 9px #FAFF33;
}
.img-4{
    border: solid 9px #8233FF;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    padding:0;
    line-height: 35px;
    margin:0 auto;
    background-color: #77FFAE;
    border-top: #DBFF73 solid 15px;
    border-left: #DBFF73 solid 15px;
    border-bottom: #64DDE9 solid 15px;
    border-right: #64DDE9 solid 15px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
audio{
    display: none;
}
h4{
    color: #96EFE2;
    font-family: 'Viga';
    font-size: 26px;
    text-align: center;
    padding: 10px;
}
#totalWins, #currentWord, #remainingGuesses, #guessedLetters {
    color: #cccccc;
    size: 26px;
    font-family: 'Viga';
    text-align: center;
    padding:10px;
}